@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2&family=Calligraffitti&display=swap');

body{
  background-color: #FFF0F7;
}

.banner{
  text-align: center;
  border: 10px solid;
  text-shadow: 1px 1px #fdddf3 ;
  color: white;
  border-radius: 30px;
  border-color: #FFC4DF;
  background-image: url('images/IMG_2969.jpg');
}

.description{
border: 10px solid;
border-image: repeating-linear-gradient(45deg, #FF95B8, #f0cced, #ffadd9 30px) 60;
font-family: Brush Script MT, Brush Script Std, cursive;
padding: 4px;
width: 50%;
height: 160px;
overflow: scroll;
padding: 5px;
}

a:link{
color: #FBE9FF;
}
