@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2&family=Calligraffitti&display=swap');
@import url('https://fonts.googleapis.com/css?family=Dancing Script');
body{
  background-color: #FFF0F7;
}

.banner{
  text-align: center;
  border: 10px solid;
  text-shadow: 5px 5px #fdddf3 ;
  color: white;
  font-family: 'Dancing Script';
  border-radius: 30px;
  border-color: #FFC4DF;
  background-image: url('images/pinkbg.jpg');
}
.container{
position: relative;
.left{
position: absolute;
border-image: repeating-linear-gradient(45deg, #9a74a4, #f0cced, #ffadd9 30px) 60;
border: 5px solid;
left: 10px; 
}	
.wave {
width: 45px;
transition: height 2s;
text-align: left; 
overflow: hidden;
height: 5%;
position: relative;
display: inline;
border: 10px solid;
border-color: #FFC4DF;
}
.wave:hover{
	height:90%;
	top:1px;
	z-index:1;
}
.description{
border: 10px solid;
border-image: repeating-linear-gradient(45deg, #FF95B8, #f0cced, #ffadd9 30px) 60;
font-family: 'Dancing Script';
padding: 4px;
width: 150px;
height: 200px;
overflow: scroll;
padding: 5px;
}
.lab { 
border-image: repeating-linear-gradient(45deg, #FF95B8, #f0cced, #ffadd9 30px) 60;
overflow: hidden;
height: 100px;
}
a:link{
color: #D3AACD;
}

a:visited { 
color: #FF6BAC;
}
